<% if current_user.isadmin? %>
  <% if question.body.present? %>
    <p>
      <strong>Question:</strong>
  
         <%= link_to question.body, quiz_question_path(@quiz, question) %>
  
    </p>

<%= link_to "Edit", edit_quiz_question_path(@quiz, question), class: "btn btn-xs btn-primary" %> 
<%= link_to "Delete", [@question.quiz, question], method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>

  <% end %>


  
<% end %>     

