<h1><%= @question.body %></h1>
<% if @question.options.present? %>
  <%= render partial: "options/show", locals: {question_options: @question.options} %>
<% end %>

<%= link_to "Add options", new_quiz_question_option_path(@quiz, @question, @option) %>


