<h1><%= @question.body %></h1>
<% if @question.options.count != 0 %>
  <%= render "options/show" %> 
<% end %>

<h2><%= link_to "Add options", new_quiz_question_option_path(@quiz, @question, @option) %></h2>




