
<div class = 'index'>
<%= image_tag "quizlogo.jpg", height: 300 , width:500%>

<h1 style="color:red">Quizzes</h1>
<ul>
  <% @quizzes.each do |quiz| %>
    <li>
      <%= link_to quiz.title, quiz %>
    </li>
  <% end %>
</ul>

<% if current_user.isadmin? %>
<%= link_to "New Quiz", new_quiz_path %> 
<% end %>
</div>






