
<ul>
  <% question_options.all.each do |option| %>
  <table>
    <li>
       <p><%= option.option1 %></p>
       <p><%= option.correct_key %></p>
    </li>
    </table>
  <% end %>
</ul>
<p>
<%= link_to 'Back to quiz', quizzes_path %>
</p>